@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.App {
  text-align: center;
}

section {
  margin-top: 3%;
  font-family: 'Marcellus', serif;
}

section div {
  padding-top: .5%;
  
}

.title {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 6em;
}

.subtitle {
  font-family: 'Marcellus', serif;
}

.Poem {
  font-family: 'Dancing Script', cursive;
}

.material-symbols-outlined {
  font-size: 6em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  margin-bottom: 2%;
}
